<section class="jumbotron card-color">
  <h2>Create New Post</h2>

  <form class="new-post-form form">
    <div class="form-group">
      <label for="name">Cat Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter cats name" name="name" />
    </div>
    <div>
      <label for="description">Story</label>
      <textarea id="description" name="description" placeholder="Enter the cats story/decription"></textarea>
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" placeholder="Enter age" name="age" />
    </div>
    <div>
      <label for="personality">Personality</label>
      <input type="text" class="form-control" id="personality" placeholder="Enter the cats personality" name="personality" />
    </div>
    <div>
      <label for="status">Status</label>
      <input type="text" class="form-control" id="status" placeholder="Enter the cats adoption status" name="status" />
    </div>
    <button type="submit" class="btn btn-light">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

  
  <script src="/javascript/imagehandler.js"></script>
  <script src="/javascript/add-post.js"></script>

     {{!-- <div>
    <h4>Step 1: User uploads file</h4>
      File Input
      <input type="file"  accept="image/*" name="image" id="file" />
      <button onclick="handleUploadImage()">Upload Image</button>
   </div>
   <div>
    <h4>Step 2: After upload, the JavaScript updates the value of this input</h4>
    <p>Note: This input will get sent to the server and saved to the database.</p>
    <p>The input could be hidden with CSS so that the user doesn't see the actual URL</p>
    Image Url: <input name="image_url" id="image_url_input" disabled />
    <img src="" id="display-image" />
   </div> --}}